@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


body {
    font-family: 'Inter';
    /* font-family: monospace; */
    padding:0;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    background-color: black;
    color: white;
}

/* title {
    display: flex;
    align-items: center;
} */

h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

div{
    padding-bottom: 20px;
    /* margin:100px; */
}

#dateInput {
    height: 20px;
    width: 80px;
    border-radius: 3px;
    margin: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  cursor: pointer;
}

progress {
    appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #4caf50;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: #4caf50;
  border-radius: 10px;
}

#progressBar {
    display: inline-block;
    margin: 0 auto;
}

#progressPercentStatus {
    display: inline;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

#openBuildLocation {
    display: none;
    /* display: block; */
    /* display: inline; */
    margin: 0 auto;
}



#progressStatus {
    display: inline;
    margin: 0 auto;
}



.propSettings {
    display: inline;
    margin: 30px auto;

    
}

table {
    display: none;
    text-align: left;
    margin: 0 auto;
}

th {
    text-align: center
}

.tableBtn {
    width: 150px;
}

.status-box {
    max-width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
